<a href="https://colab.research.google.com/github/AlokChedambath64/RA2211042010039/blob/main/RA2211042010039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = int(input("x: "))
y = int(input("y: "))

print(x+y)#prints the sum of the values because x and y are converted into ints.

a = input("a: ")
b = input("b: ")

print(a+b)#joins the values and prints it because it considers them as strings

x: 5
y: 4
9
a: 5
b: 4
54

In [1]:
#if the user gives a input that is not an integer, the program will fail. Hence we need to do this:

try:
  c =int(input("c: "))
except ValueError:
  print("That is not an int!")
  exit()
try:
  d = int(input("d: "))
except ValueError: 
  print("That is not an int!")
  exit()
print(c + d)

c: 5
d: 8
13

In [18]:
i = int(input("i: "))
j = int(input("j: "))

k = (i / j)
print(k) #will print the value of k with decimals
print(f"{k:.10f}")

k = int(i / j)
print(k) #will print the value of k as an integer

k = (i//j)
print(k) #will also print k as an integer,

i: 5
j: 9
0.5555555555555556
0.5555555556
0
0

In [11]:
#different ways to add a variable to the print statement
q = "hello"

print("hi",q)
print("hi" +q)
print("hi " +q)#will print the same but with the space
print(f"hi {q}")
print(f"hi{q}")

hi hello
hihello
hi hello
hi hello
hihello

In [21]:
points =  int(input("How many points did you get: "))

if points < 2:
  print("You lost fewer points than me.")
elif points > 2:
  print("You lost more points than me.")
else:
  print("You lost the same amount of points as me.")

How many points did you get: 1
You lost fewer points than me.

In [25]:
num = int(input("Number: "))

if (num % 2) == 0:
  print("The number is even")
else:
  print("The number is odd")

Number: 5
The number is odd

In [32]:
agree = input("Do you agree? ")

if agree == 'Y' or agree == 'y':
  print("Agreed.")
elif agree == 'N' or agree == 'n':
  print("Not Agreed")

Do you agree? t

In [37]:
agree = input("Do you agree? ")

if agree.lower() in ["yes", "y"]:
  print("Agreed.")
elif agree.lower() in ["no", "n"]:
  print("Not Agreed.")

Do you agree? YeS
Agreed.

In [38]:
agree = input("Do you agree? ").lower()

if agree in ["yes", "y"]:
  print("Agreed.")
elif agree in ["no", "n"]:
  print("Not Agreed.")

Do you agree? Yes
Agreed.

In [39]:
for i in range(3):
  print("hello")

hello
hello
hello

In [40]:
def hello():
  print("hello")

for i in range(3):
  hello()

hello
hello
hello

In [41]:
def main():
    hello(n)

def hello(n):
  for i in range(n):
    print("hello")
#main function needs to be called. It needs to placed in the bottom too as the interpretor needs to look through evrything else.
main()

hello
hello
hello

In [42]:
for i in range(3):
  print("#")

#
#
#

In [43]:
n = int(input("N: "))

for i in range(n):
  print("#")

N: 3
#
#
#

In [47]:
while True:
  n = int(input("N: "))
  if n > 0:
    break

In [7]:
def main():
  height = height1()
  for i  in range(height):
    print("#")
  
def height1():
  while True:
    p = int(input("Height: "))
    if p > 0:
        break
  return p
main()

Height: 5
#
#
#
#
#

In [8]:
def main():
  height = height1()
  for i  in range(height):
    print("#")
  
def height1():
  while True:
    try:
      p = int(input("Height: "))
      if p > 0:
          break
    except ValueError:
      print("That's not an integer.")
  return p
main()

Height: cat
That's not an integer.
Height: 7
#
#
#
#
#
#
#

In [9]:
#to print in the same line.
for i in range(4):
  print("?",end="")

????

In [10]:
print("#"*4)

####

In [15]:
for i in range(3):
    print("#"*4)

####
####
####

In [17]:
scores =[72, 73, 33]

average = sum(scores)/ len(scores)

print("Avereage", average)

Avereage 59.333333333333336

In [20]:
# you can make lists which are empty unlike arrays
scores = []

for i  in range(3):
  score = int(input("Score: "))
  scores.append(score)

average = sum(scores) / len(scores)
print("Average", average)

Score: 6
Score: 7
Score: 8
Average 7.0

In [ ]:
# you can make lists which are empty unlike arrays
scores = []

for i  in range(3):
  score = int(input("Score: "))
  scores.append(score)

average = sum(scores) / len(scores)
print("Average", average)

In [21]:
before = input("Before: ")
print("After: ", end = "")
for c in before:
  print (c.upper(), end="")
print()

Before: hello
After: HELLO

In [22]:
before = input("Before: ")
print("After: ", end = "")
after = before.upper()
print(after)
print()

Before: hello
After: HELLO

In [ ]:
people = dict()

In [23]:
people = {
    "alok" : "+32524657"
}
name = input("Name: ")
if name in people:
  print("Number:",{people[name]})

Name: alok
Number: {'+32524657'}

In [67]:
import csv 

file = open("phonebook.csv", "a")

name = input("Name: ")
number = input("Number: ")

#variable called write
writer = csv.writer(file)
writer.writerow([name, number])

file.close()

Name: alok
Number: 8590250668

In [ ]:
import csv

name = input("Name: ")
number = input("Number: ")

with open("phonebook.csv", "a") as file:f
  writer = csv.writer(file)
  writer.writerow([name, number])

In [2]:
a = 7
b = 9.8
c = "hello"
d = 2 + 7j

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [5]:
a = 7
b = 9.8
c = "hello" o  
d = 2 + 7j

#these values need to be seperated by commas
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

In [7]:
print("Hi","Hello","Python")

Hi Hello Python

In [8]:
#Arthemetic Operators In python
a = 7
b = 5

print(a+b, a-b, a/b, a**b, a*b, a%b, a//b)

12 2 1.4 16807 35 2 1

In [ ]:
#program to find the ordial value of a user input

a = "a"
print(ord(a))

In [20]:
#program to understand the use of comparision operators using conditonal parameters
a = input("a: ")
b = input("b: ")

if a >b:
  print("a is greater than b")
else:
  print("b is greater than a")

a: m
b: n
b is greater than a

In [22]:
distinction = 75

marks = int(input("Marks Obtained: "))

if (distinction > marks):
  print("Not distinction")
else:
  print("Distinction")

Marks Obtained: 55
Not distinction

In [29]:
a = input("Character: ")
#the function is digit returns the true(1) or false(0) 
if a.isdigit()==1:
  print("digit")
elif a.isalpha()==1:
  print("alphabet")
else:
  print("neither alphabet not digit")

Character: @
neither alphabet not digit

In [35]:
#find sum of all even numbers up to num using while construct
num = int(input("Number: "))

count = 2
sum = 0
while (count <= num):
  sum = sum + count
  count += (2)
 

print(f"Sum:{sum}")

Number: 12
Sum:42

In [40]:
num = int(input("Number: "))

num1 = num

num = abs(num)

sum = num*(num+1)/2

if num1 >= 0:
  print(f"The sum is {sum}")
else:
  print(f"The sum is {-sum}")

Number: -660
The sum is -218130.0

In [52]:
items = "Python"
n = 0
for index in items:
  print("(",n,",", index,")")
  n += 1

( 0 , P )
( 1 , y )
( 2 , t )
( 3 , h )
( 4 , o )
( 5 , n )

In [55]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [57]:
for i in range(1,10):
  print(i)
else:
  print("No Break")

1
2
3
4
5
6
7
8
9
No Break

In [60]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry']
3

In [64]:
list1 = ["abc", 34, True, 40, "male"]
print(type(list1))

<class 'list'>

In [2]:
a = [2,3,4,5,6]
print(a[2])
#slicing. Prints from the lower limit to upper limit - 1.
print(a[0:3])

4
[2, 3, 4]

In [5]:
a = [1,2,3,4,5,6,7,8]
b = [20, 30]
print (a + b)
a[2] = 33
print(a + b)
print(b + a)

[1, 2, 3, 4, 5, 6, 7, 8, 20, 30]
[1, 2, 33, 4, 5, 6, 7, 8, 20, 30]
[20, 30, 1, 2, 33, 4, 5, 6, 7, 8]

In [7]:
a = [2, 3, 4, 5, 6]

if 5 in a:
  print("True")
if 2 in a:
  print("False")

True
False

In [8]:
a = [1,2,3]
print(a*0)
print(a*3)

[]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
a = [9,8,7,6,5,4]
a[0:3]#prints values from index 0 to 2
a[:3] #both are the same things
a[1:]#prints calues from index 1 onwards
a[:]#prints the entire list
a[2:2]#prints an empty slice
a[0:6:2]#prints the list values with step size 2
a[::-1]#prints the list in reverse order
a[-3:]#prints the last 3 items in the list
a[:-3]#prints all except the last 3 items in list

[9, 8, 7]

In [47]:
a = [1,2,3,4,5]
b = [3,5,2,5,1,5,2]
print(all(a))#returns true if all the items have a true value
print(any(a))#returns true if even one itme in the list has a true value
print(list(enumerate(a)))#returns an enumerate object consisting of the index and value of all items of the list as a tuple pair
print(len(a))#calculates the number of elements in the list
print(list(a))#converts a tuple/string/set/dictionary to a list
print(max(a))#returns the item with the max value in the list
print(min(a))#retruns the item with the lowest value from the list
print(b)

True
True
[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]
5
[1, 2, 3, 4, 5]
5
1
[3, 5, 2, 5, 1, 5, 2]

In [35]:
a = [1,2,3]
b = (1,6,a)
print(b)
a[2] = 4
b[2][2] = 1
print(b)

(1, 6, [1, 2, 3])
(1, 6, [1, 2, 1])

In [42]:
a = (20,40,560)
b = (1,)#when a tuple with a single element has to defined it needs to end with a comma

print(a,b)
print(b,a)
print(a[0])#to call a value using its index number.
print(a[1:3])#slicing works the same

(20, 40, 560) (1,)
(1,) (20, 40, 560)
20
(40, 560)

In [43]:
a = (1,2,3,4,5,6,7,8)
if 5 in a:
  print("Found")

Found

In [46]:
numset = {1,2,3,4,5,6,}
print(numset)

numset2 = set([1,2,3,5,5,])
print(numset2)

empty = set()
print(type(empty))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5}
<class 'set'>

In [54]:
a = {1,2,3,4,5}

a.remove(3)
a.discard(4)

print(a)

{1, 2, 5}

In [62]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year"  : 1964
}
x = thisdict.get("model")
print(x)
y = thisdict.keys()
print(y)

Mustang
dict_keys(['brand', 'model', 'year'])

In [64]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = car.keys()

print(x)

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])