<a href="https://colab.research.google.com/github/AlokChedambath64/RA2211042010039/blob/main/RA2211042010039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = int(input("x: "))
y = int(input("y: "))

print(x+y)#prints the sum of the values because x and y are converted into ints.

a = input("a: ")
b = input("b: ")

print(a+b)#joins the values and prints it because it considers them as strings

x: 5
y: 4
9
a: 5
b: 4
54

In [1]:
#if the user gives a input that is not an integer, the program will fail. Hence we need to do this:

try:
  c =int(input("c: "))
except ValueError:
  print("That is not an int!")
  exit()
try:
  d = int(input("d: "))
except ValueError: 
  print("That is not an int!")
  exit()
print(c + d)

c: 5
d: 8
13

In [18]:
i = int(input("i: "))
j = int(input("j: "))

k = (i / j)
print(k) #will print the value of k with decimals
print(f"{k:.10f}")

k = int(i / j)
print(k) #will print the value of k as an integer

k = (i//j)
print(k) #will also print k as an integer,

i: 5
j: 9
0.5555555555555556
0.5555555556
0
0

In [11]:
#different ways to add a variable to the print statement
q = "hello"

print("hi",q)
print("hi" +q)
print("hi " +q)#will print the same but with the space
print(f"hi {q}")
print(f"hi{q}")

hi hello
hihello
hi hello
hi hello
hihello

In [21]:
points =  int(input("How many points did you get: "))

if points < 2:
  print("You lost fewer points than me.")
elif points > 2:
  print("You lost more points than me.")
else:
  print("You lost the same amount of points as me.")

How many points did you get: 1
You lost fewer points than me.

In [25]:
num = int(input("Number: "))

if (num % 2) == 0:
  print("The number is even")
else:
  print("The number is odd")

Number: 5
The number is odd

In [32]:
agree = input("Do you agree? ")

if agree == 'Y' or agree == 'y':
  print("Agreed.")
elif agree == 'N' or agree == 'n':
  print("Not Agreed")

Do you agree? t

In [37]:
agree = input("Do you agree? ")

if agree.lower() in ["yes", "y"]:
  print("Agreed.")
elif agree.lower() in ["no", "n"]:
  print("Not Agreed.")

Do you agree? YeS
Agreed.

In [38]:
agree = input("Do you agree? ").lower()

if agree in ["yes", "y"]:
  print("Agreed.")
elif agree in ["no", "n"]:
  print("Not Agreed.")

Do you agree? Yes
Agreed.

In [39]:
for i in range(3):
  print("hello")

hello
hello
hello

In [40]:
def hello():
  print("hello")

for i in range(3):
  hello()

hello
hello
hello

In [41]:
def main():
    hello(n)

def hello(n):
  for i in range(n):
    print("hello")
#main function needs to be called. It needs to placed in the bottom too as the interpretor needs to look through evrything else.
main()

hello
hello
hello

In [42]:
for i in range(3):
  print("#")

#
#
#

In [43]:
n = int(input("N: "))

for i in range(n):
  print("#")

N: 3
#
#
#

In [47]:
while True:
  n = int(input("N: "))
  if n > 0:
    break

In [7]:
def main():
  height = height1()
  for i  in range(height):
    print("#")
  
def height1():
  while True:
    p = int(input("Height: "))
    if p > 0:
        break
  return p
main()

Height: 5
#
#
#
#
#

In [8]:
def main():
  height = height1()
  for i  in range(height):
    print("#")
  
def height1():
  while True:
    try:
      p = int(input("Height: "))
      if p > 0:
          break
    except ValueError:
      print("That's not an integer.")
  return p
main()

Height: cat
That's not an integer.
Height: 7
#
#
#
#
#
#
#

In [9]:
#to print in the same line.
for i in range(4):
  print("?",end="")

????

In [10]:
print("#"*4)

####

In [15]:
for i in range(3):
    print("#"*4)

####
####
####

In [17]:
scores =[72, 73, 33]

average = sum(scores)/ len(scores)

print("Avereage", average)

Avereage 59.333333333333336

In [20]:
# you can make lists which are empty unlike arrays
scores = []

for i  in range(3):
  score = int(input("Score: "))
  scores.append(score)

average = sum(scores) / len(scores)
print("Average", average)

Score: 6
Score: 7
Score: 8
Average 7.0

In [ ]:
# you can make lists which are empty unlike arrays
scores = []

for i  in range(3):
  score = int(input("Score: "))
  scores.append(score)

average = sum(scores) / len(scores)
print("Average", average)

In [21]:
before = input("Before: ")
print("After: ", end = "")
for c in before:
  print (c.upper(), end="")
print()

Before: hello
After: HELLO

In [22]:
before = input("Before: ")
print("After: ", end = "")
after = before.upper()
print(after)
print()

Before: hello
After: HELLO

In [ ]:
people = dict()

In [23]:
people = {
    "alok" : "+32524657"
}
name = input("Name: ")
if name in people:
  print("Number:",{people[name]})

Name: alok
Number: {'+32524657'}

In [25]:
import csv 

file = open("phonebook.csv", "a")

name = input("Name: ")
number = input("Number: ")

#variable called write
writer = csv.writer(file)
writer.writerow([name, number])

file.close()

Name: neell
Number: 5874524097

In [ ]:
import csv

name = input("Name: ")
number = input("Number: ")

with open("phonebook.csv", "a") as file:f
  writer = csv.writer(file)
  writer.writerow([name, number])